<section id="page-products" class="[[SECTION_CLASS]]">

    <section id="product-table" class="pdf-module module-products">
        <div class="section-header">
            <h2 class="section-title">Produtos e Serviços</h2>
        </div>

        <table class="products-table">
            <thead>
            <tr>
                <th class="col-image">Cód.</th>
                <th>Descrição do Material</th>
                <th class="col-un">UN</th>
                <th class="col-qty">Qtd.</th>
                <th class="col-unit">Unitário</th>
                <th class="col-total">Total</th>
            </tr>
            </thead>
            <tbody>
            [[ITENS_ORCAMENTO]]
            </tbody>
            [[TFOOT_TOTAIS]]
        </table>
    </section>

</section>
