<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>[[TITULO_DOCUMENTO]]</title>
    <style>
[[CSS_DOCUMENTO]]
    </style>
</head>
<body>
<div class="document-container">
    [[PAGINA_CAPA]]
    <table class="doc-table">
        <thead>
            <tr>
                <td class="doc-thead-cell">[[CABECALHO_GLOBAL]]</td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="doc-tfoot-cell">[[RODAPE_GLOBAL]]</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td class="doc-body-cell">
                    [[PAGINA_RESUMO]]
                    [[PAGINA_IDENTIFICACAO]]
                    [[PAGINA_PROJETO]]
                    [[PAGINA_ITENS]]
                    [[PAGINA_TOTAIS]]
                    [[PAGINA_AVISOS]]
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
